@font-face { font-family: Muli; src: url('fonts/Muli.ttf'); } 
@font-face { font-family: Muli-bold; src: url('fonts/Muli-Bold.ttf'); } 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Muli;
}